build
dist
qcore.egg-info
pyqcore.*
include/decompose/Decompose.hpp
src/decompose/Decompose.cpp

# IDE files
.idea/
.vscode

# Build system files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# src build artifacts
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/libqcore.so

# External dependencies
src/extern/

# Test outputs and binaries
test/output.qasm
test_main